body
{
    background:#eee;
}
.bgwhite
{
    background:#fff;
}
.bgblue.title
{
    background:#14638d;
    color:#fff;
    padding: 15px 0;
    margin-bottom:30px;
}
.wrapper
{
    margin-top:30px;
}
label
{
    width:100%;
}
fieldset 
{
    border: 1px solid #ddd !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    padding-left:10px!important;
    margin-bottom: 30px;
}	
legend
{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 35%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #eee;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
    float: left !important;
}