body
{
	background:#f4f4f4;
}
.wrapper
{
	margin-top:20px;
}
.lists
{
		width:100%;
		background:#fff;
		padding: 0 10px 30px 15px;
		display: table;
		border: 1px solid #ececec;
}
.lists li {
    float: left;
    list-style-type: none;
    padding: 0 20px 0 20px;
	margin-bottom: 15px;
}
.lists ul {
    padding: 25px 0 25px 0;
}
.lists li:nth-child(1) a {
    /*border-bottom: 2px solid lightcoral;*/
    border-bottom: 2px solid #cd4237;
    padding-bottom: 7px;
}

.heading
{
		background:#2f5da5;
		padding:10px 10px;
		color:#fff;
		box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
}
.classcode
{
		margin-top:23px;
		float:left;
		width: 100%;
}
.lists ul {
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 27px;
}
.lists li:nth-child(1)
{
	padding-left:0;
}
.form-group label
{
	color:#5f5e5e;
}
.details h5
{
	color:#cd4237;
	font-weight:bold;
	font-size: 15px;
    margin-bottom: 17px;
	    margin-top: 1px;
}
.details {
    padding: 7px;
    float: left;
    background: #f9f9f9;
    width: 100%;
    margin-top: 13px;
	border: solid 1px #e1dede;
	/*box-shadow: 0 4px 7px 0px rgba(195,192,192,.5);*/
}
.p0
{
	padding:0;
}
.pr0
{
	padding-right:0;
}
.classcode input {
    border: 1px solid #dfdede;
    box-shadow: unset!important;
    border-radius: unset;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    font-size: 14px;
    padding-left: 0;
}
.mr20
{
	margin-right:20px;
}
.details .location
{
    float: left;
    width: 5%;
}
.details p
{
    float: left;
    padding-top: 13px;
    margin-left: 10px;
	font-size:15px;
}
.note {
    margin-top: 10px;
    background: #fbfe86bd;
    padding: 10px 14px 1px 14px;
	border: 1px solid #ececec;
}
.note span.txt
{
	color:red;
}
.glyphicon-pencil
{
	margin: 0 6px 0 0;
	float: left;
}
.note p {
    padding-left: 20px;
}
.authority
{
	background:#fff;
}
.authority h5
{
	font-size:15px;
	color:#cd4237;
	font-weight:bold;
	margin-bottom: 17px;
}
.authority {
    background: #fff;
    padding: 1px 7px 11px 14px;
    margin-top: 10px;
    display: table;
    width: 100%;
	border: 1px solid #ececec;
}
.authority li {
    float: left;
    list-style-type: none;
	padding-right: 30px;
}
.authority li p span {
    font-size: 12.5px;
}
.authority p {
    margin-bottom: 1px;
    padding-left: 21px;
}
.authority .glyphicon.glyphicon-thumbs-up
{
	float:left;
	color: green;
    font-weight: bold;
}
.authority .glyphicon.glyphicon-thumbs-down
{
	float:left;
	color: red;
    font-weight: bold;
}
.rate
{
	background:#fff;
	border: 1px solid #ececec;
	 margin-top: 10px;	
	 padding: 1px 7px 11px 14px;
}
.rate h5
{
	font-size:15px;
	font-weight:bold;
	color:#cd4237;
}
.rate thead th
{
	background:#0d799bcc;
	color:#fff;
	font-weight:normal;
}